<div class="text-field">
  <%= form.label :email, class: "block text-slate-500" %>
  <%= form.email_field :email, class: "bg-slate-100 rounded-md p-3 mb-2 min-w-full" %>
</div>

<div class="password-field mb-4">
  <%= form.label :password, class: "block text-slate-500" %>
  <%= form.password_field :password, class: "bg-slate-100 rounded-md p-3 mb-2 min-w-full" %>
</div>
