<div class="flex flex-col w-1/4 p-10 justify-center max-h-screen sticky top-0">
  <!-- colophon -->
  <p class="text-sm text-slate-600 mb-4">
    Dispatches about product design, work, and life. Compiled semi-regularly in Providence.
  </p>
  <p class="text-xs text-slate-400 mb-8">
    Copyright &copy; <%= Time.zone.now.year %> Nick Jones. All rights reserved, all wrongs reversed.
  </p>
  <!-- /colophon -->
</div>