<div class="pt-4">
  <h2 class="text-3xl font-serif italic mb-4 text-slate-600">About</h2>
  <p class="font-serif text-slate-600 text-xl md:text-md dark:text-slate-900 mb-4">
    Hi, I'm Nick Jones. I'm an artist, graphic and web designer, and UX designer. In the past I've written front end code and done some full stack development with Ruby on Rails. I'm also a dad, a husband, and one more in a long line of writers. We currently live in Providence, RI, which is where we found ourselves after the great COVID exodus from NYC.
  </p>
  <p class="font-serif text-slate-600 text-xl md:text-md dark:text-slate-900 mb-4">
    I've lived in a lot of places, and so far New England has required the biggest adjustment. I'm not entirely sure why, but I'm sure I'll eventually write about it.
  </p>
  <p class="font-serif text-slate-600 text-xl md:text-md dark:text-slate-900 mb-4">
    You can reach me at <%=mail_to "hello@nickmjones.me", class: "text-blue-600 underline" %>. You're more likely to get a response on Mastodon, though (speaking of exoduses).
  </p>
  <p class="font-serif text-slate-600 mb-4">
    &mdash;Nick Jones<br/>
    Providence, RI<br/>
    Nov. 6 2022
  </p>
</div>