<% if @posts.present? %>
  <% @posts.each do |post| %>
    <div class="mt-16">
      <h2 class="text-2xl font-bold mb-4 text-slate-600">
        <%= link_to post.title, post %>
      </h2>
      <div class="content font-serif text-slate-600 text-lg">
        <%= markdown(post.content) %>
      </div>
      <div class="flex flex-row mt-4">
        <span class="ml-auto text-slate-500 text-sm">
          ⌘ <%= link_to post.created_at.strftime("%w %B"), post %>
        </span>
      </div>
    </div>
  <% end %>
<% else %>
  Hmm. There's nothing here. Sad.
<% end %>
