<div class="pt-4">
  <h2 class="text-xl font-sans font-bold mb-4 text-slate-600 dark:text-slate-300">Work</h2>
  <p class="font-serif text-slate-600 dark:text-slate-400 text-l md:text-md mb-4">
    In my 22 year career I've done a variety of design- and product-adjacent things. I worked as an AD and A/AD in traditional and digital agencies, as a product designer for startups, and co-founded a digital product studio called Tiny Goat which I operated for a number of years. 
  </p>
  <p class="font-serif text-slate-600 dark:text-slate-400 text-l md:text-md mb-4">  
    I returned to working for other people at Custom Ink, where I oversaw a large-scale design system effort and lead product design. I then returned to consulting, first for Event Farm and then Workpath. For both of those clients I was responsible for the entirety of digital marketing, including the design and development of the marketing website, tech stack selection, integration with other marketing tools, and lots of other hats, too.
  </p>
  <p class="font-serif text-slate-600 dark:text-slate-400 text-l md:text-md mb-4">
    Both of those startups exited successfully via acquisition. I think it's safe to say that the work I or my teams did to elevate their respective brands helped.
  </p>
  <p class="font-serif text-slate-600 dark:text-slate-400 text-l md:text-md mb-4">
    In early 2022 I joined Life360, where my responsibilities include design and UX for life360.com&mdash;both the marketing site and the web-app experience&mdash;and design and UX for Tile, which was aqcuired by Life360 in 2021.
  </p>
</div>