<div class="mt-16">
  <h2 class="text-3xl mb-4 text-slate-700">
    <%= post.title %>
  </h2>
  <div class="content font-serif text-slate-600">
    <%= markdown(post.content) %>
  </div>
  <div class="flex flex-row">
    <span class="ml-auto text-slate-500">
      <%= post.created_at.strftime("%w %B") %>
    </span>
  </div>
</div>
