<div class="mt-16">
  <h2 class="text-3xl font-serif italic mb-4 text-slate-600">
    <%= link_to post.title, post %>
  </h2>
  <div class="content font-serif text-slate-600 text-xl md:text-md dark:text-slate-900">
    <%= markdown(post.content) %>
  </div>
  <div class="flex flex-row mt-4">
    <span class="ml-auto text-slate-500 text-sm">
      ⌘ <%= link_to post.created_at.strftime("%e %B"), post %>
    </span>
  </div>
</div>