@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content p {
  margin-bottom: 16px;
}
.content strong {
  font-weight: 700;
}
.content a {
  color: #1D4ED8;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

blockquote {
  font-style: italic;
  padding-left: 16px;
  border-left: 1px solid #666;
}
::-moz-selection {
  background: #FFCD70;
}
::selection {
  background: #FFCD70;
}