@tailwind base;
@tailwind components;
@tailwind utilities;

.content p {
  margin-bottom: 16px;
}
.content strong {
  font-weight: 700;
}

blockquote {
  font-style: italic;
  padding-left: 16px;
  border-left: 1px solid #666;
}
::-moz-selection {
  background: #FFCD70;
}
::selection {
  background: #FFCD70;
}